* {
    font-family: 'Source Code Pro', sans-serif;
}

body,
main {
    background-color: antiquewhite;
}

.sidebar{
    z-index: 1;
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    padding-top: 50px;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar a{
    padding: 10px 15px;
    gap: 5px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidebar a:hover{
    background-color: linen;
    color: black;
    transition: 0.5s ease;
}

.sidebar a.active{
    background-color: antiquewhite;
    color: black;
    transition: 0.5s ease;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  transition: 0.5s;
}